In [1]:
# Author:  Michael Namoff
# Email:   manmoff@jimmyjohns.com
# Created: 2019-08-06
# Edited:  

# Purpose: Using weather API to capture the average tempature and most frequent weather status by DMA and week.

# Comment: Program is set to run 3 time per day at 9am, 12pm, and 3pm. These times capture the majority of sales. 
#          The pickle file "weatherstore.pkl" holds all of the weather records everytime the program is ran.
#          This file can be reset with the WEATHER_API_RESTART program. The API can not pull data for 20 cities.
#          Final results get put into a pickle file called "weatherfinal.pkl". 

# Edit:

In [2]:
from pyowm import OWM
import pandas as pd
from sqlalchemy import create_engine
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())
from datetime import *

In [3]:
def redshift():
    global eng
    with open('/home/mnamoff/Credentials/MXRedshift_user') as user_file:
        username = user_file.read()
    with open('/home/mnamoff/Credentials/MXRedshift_pw') as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [4]:
#API password

owm = OWM('36ac06bcf27dc65a9fd79249a9c63f60')

In [5]:
#Reads in the master list of stores

stores = pd.read_pickle("/home/mnamoff/masterlist.pkl")

In [6]:
# Base file where all of our store weather data is stored. 

df = pd.read_pickle('weatherstore.pkl')

In [7]:
df.head()

   storenumber      city                   dma  status   temp  week
0            4  St. Paul  Minneapolis-St. Paul   Clear  79.50    32
1            7  Marshall               Madison  Clouds  82.98    32
2            8    Ottawa               Chicago  Clouds  76.82    32
3           11      Ames       Des Moines-Ames    Mist  71.28    32
4           17    Peoria    Peoria-Bloomington  Clouds  71.31    32

In [ ]:
#Query that grabs information from master store list 

q1 = """

SELECT storenumber,city, dma
FROM stores
where status = 'Open'

"""

In [ ]:
r = pysqldf(q1)

In [ ]:
#Uses API to find the current tempature and weather status at the time query is ran. Generates 
#new data that will we add to our existing weatherstore.pkl file

temp_list = []
status_list = []
for i in (r['city']):
    try:
        obs = owm.weather_at_place(i)
        w = obs.get_weather()
        temp = w.get_temperature('fahrenheit') 
        temp = temp['temp']
        temp_list.append(temp)
        status = w.get_status()
        status_list.append(status)
    except:
        temp_list.append(None)
        status_list.append(None)

In [ ]:
#Addends the newly found temp and status back to orginal table for each store number

r['status'] = status_list
r['temp'] = temp_list

In [ ]:
#Drops null values or cities the API does not have information on

r =r.dropna()

In [ ]:
#Pulls the current week number from today's date

r['week'] = date.today().isocalendar()[1]

In [ ]:
#Concats new weather r on to the orginal data df 

table = pd.concat([df, r], axis = 0)

In [ ]:
#Puts this newly joined "table" back into the base pickle file. Put back into the pickle file so the new weather is now 
#known when this pickle file is called next time 

table.to_pickle('weatherstore.pkl')

In [ ]:
r1 = pd.read_pickle('weatherstore.pkl')

In [ ]:
#Query to find the mode status

q2 = """

SELECT storenumber, week, dma, status
FROM r1

"""

In [ ]:
r2 = pysqldf(q2)

In [ ]:
#Returns the mode status for each store number by dma and by week 

r2 = r2.groupby(['storenumber', 'dma','week']).agg(lambda x:x.value_counts().index[0])
r2 = r2.reset_index()

In [ ]:
#Query for getting the average tempature

q3 = """

SELECT storenumber, week, dma, temp
FROM r1

"""

In [ ]:
r3 = pysqldf(q3)

In [ ]:
#Returns the average tempature for each storenumber by dma and by week

r3 = r3.groupby(["storenumber", "week", "dma"]).agg({'temp':'mean'})
r3 = r3.reset_index()

In [ ]:
#Joins the two tables r3 and r2. This puts the mode status and average temp per store number by dma and by week all in one place

r4 = r3.merge(r2, on=['storenumber', 'week', 'dma'], how='inner')

In [ ]:
#Query for finding the mode status by DMA and week

q4 = """

SELECT week, dma, status
FROM r4

"""

In [ ]:
r5 = pysqldf(q4)

In [ ]:
#Returns the mode status by DMA and week

r5 = r5.groupby(['dma','week']).agg(lambda x:x.value_counts().index[0])
r5 = r5.reset_index()

In [ ]:
#Query for finding the average temp by DMA and week

q6 = """

SELECT week, dma, temp
FROM r4

"""

In [ ]:
r6 = pysqldf(q6)

In [ ]:
#Returnes the average temp by DMA and week

r6 = r6.groupby(["week", "dma"]).agg({'temp':'mean'})
r6 = r6.reset_index()

In [ ]:
#Joins tables r6 and r5. Creates one table that shows mode status and average temp by DMA and week

final = r6.merge(r5, on=['week', 'dma'], how='inner')

In [ ]:
#Final product gives us week, DMA, average temp (for the week), and mode status (for the week)

final.to_pickle('weatherfinal.pkl')

In [ ]:
final.head()